.login{
    background-color: #4CAF50;
    color: white;
}
.logup{
    background-color: #4CAF50;
    color: white;
}
.logup1{
    background-color: #4CAF50;
    color: white;
}
.back{
    background-image:url('lai.JPG');
    background-repeat:no-repeat;
    background-size:100%;
}
